.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    
  }
  
  .card-header {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .card-body {
    padding: 20px;
    
  }
  
  /* Estilos para el cambio de color del paso actual */
  .card:nth-child(1) { /* Primer paso */
    background-color: #ffdcdc;
    
  }
  
  .card:nth-child(2) { /* Segundo paso */
    background-color: #ffefc0;
  }
  
  .card:nth-child(3) { /* Tercer paso */
    background-color: #d9ffcc;
  }
  
  .card:nth-child(4) { /* Cuarto paso */
    background-color: #d6d6f5;
  }
  